<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

  <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
  <script th:src="@{/js/script.js}" type="text/javascript"></script>

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap" rel="stylesheet">

  <!--  highlight code -->
<!--  <link rel="stylesheet"-->
<!--        target="_blank" href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.2.1/build/styles/default.min.css">-->
<!--  <script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.2.1/build/highlight.min.js"></script>-->
<!--  <script>hljs.initHighlightingOnLoad();</script>-->

  <title>Create</title>
</head>
<body>
<!--todo labels, restriction-->
  <textarea id="code_snippet" placeholder="// write your code here"></textarea>
  <br/>
  <button id="send_snippet" type="submit" th:onclick="send()">Submit</button>
</body>
</html>
